@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* Ensure full height for the layout */
}

body {
    font-family: 'Arial', sans-serif;
    /* Set a global font */
    background-color: #f4f4f4;
    /* Light background for contrast */
    color: #264653;
    /* Text color */
}

footer {
    font-size: 0.875rem;
    /* Slightly smaller font for the footer */
}